dist: xenial
language: cpp
compiler: clang

script:
  - cmake .
  - cmake --build .
  - cmake --build . --target package

deploy:
  provider: script
  skip_cleanup: true
  script:
      - curl -f -T cod-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -ustanislavkuskov:$BINTRAY_API_KEY "https://api.bintray.com/content/stanislavkuskov/otus-cpp/homework/$TRAVIS_BUILD_NUMBER/cod-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=xenial;deb_component=main;deb_architecture=amd64;publish=1"